<webobject name="PageWrapper">

	<div class="row">
		<div class="twelve columns">
			<h2>TreasureBoats Examples</h2>
			<wo:TBString value = "---" markdown = "true"></wo:TBString>	
			<wo:TBHyperlink pageName = "Login"><wo:TBGenericContainer class = "$inspectButton.cssContainerClass" elementName = "div"> Login Page </wo:TBGenericContainer></wo:TBHyperlink> 
			<wo:TBHyperlink pageName = "Formatierungen" ><wo:TBGenericContainer class = "$inspectButton.cssContainerClass" elementName = "div"> Formatierungen</wo:TBGenericContainer></wo:TBHyperlink><br />

			<wo:TBString value = "--- \n ***TBHyperlink***" markdown = "true"></wo:TBString>	
			<wo name = "Formatierungslink" /><br />
			<wo:TBHyperlink href = "http://www.google.com" target = "_blank">Google TBHyperlink</wo:TBHyperlink><br/>

			<wo:TBString value = "--- \n ***TBString***" markdown = "true"></wo:TBString>
			
			<wo:TBString value = "$plaintext" /><br />
			<wo:TBString value = "$emptytext" valueWhenEmpty = "$plaintext2" /><br />
			<wo:TBString numberformat = "0.00" value = "$number" />
			<wo:TBString  value = "$timestamp" dateformat = "%d.%m.%y" /><br />
			<wo:TBString value = "$htmltext" escapeHTML = "false" />
			
			<wo:TBString value = "--- \n ***TBImage***" markdown = "true"></wo:TBString>
			<wo:TBString value = "$markdowntext" /><br />
			<wo:TBString value = "$markdowntext" markdown = "true" log = "true" /><br /><script>			
			<wo:TBString value = "$someJavascript" log = "true"></wo:TBString>		</script>	

			<wo:TBString value = "--- \n ***TBImage***" markdown = "true"></wo:TBString>
			<wo:TBImage src = "static://images/tb.jpg" height = "200" width = "200" />
			<wo name = "tbfi" />
			<wo:TBImage src = "static://app:images/tb.jpg" height = "200" width = "200" />
			<wo:TBImage framework = "TBContentsDelivery" filename = "images/feedback.png" />
			<wo:TBImage src = "http://upload.wikimedia.org/wikipedia/en/0/0c/ITunes_11_Logo.png" width = "50" />
			<wo:TBImage src = "$sampleimage2"></wo:TBImage>
			<wo:TBString value = "$sampleMarkdownImage" markdown = "true"></wo:TBString>

			<wo:TBString value = "--- \n ***TBMailTo***" markdown = "true"></wo:TBString>
			<wo:TBMailTo email = "rf@enemy.cx" useContent = "false" />
			<wo:TBMailTo email = "rf@enemy.cx" useContent = "true">
			<wo:TBString value = "Email Test with markdown" markdown = "true"></wo:TBString></wo:TBMailTo>

			<wo:TBString value = "--- \n ***TBFixedLengthString***" markdown = "true"></wo:TBString>
			<wo:TBFixedLengthString shouldPadToLength = "true" value = "hello &uuml;ber all" length = "124" escapeHTML = "false" suffixWhenTrimmed = "..." />s

			</div>
	</div>
	
</webobject>