(
	/* 
	Face Navigation Root Level 1
	*/
	{
		name = Root;
		children = (
			"Welcome", 
			"Dashboard",
			"StatistikAustria"
		);
	},
	{
		name = "Welcome";
		action = "session.handlers.welcome.customMainAction";
	},
	{
		name = "StatistikAustria";
		action = "session.handlers.statistikAustria.customStatistikAustriaAction";
	}
	
	/* 
		Navigation Root Level 2
    */

)
