(
	/* 
	Face Navigation Root Level 1
	*/
	{
		name = Root;
		children = (
			"Welcome", 
			"Dashboard",
			"Login",
			"Formatierungen",
			"Gumbytext",
			"Calendar",
			"Aninite"
		);
	},
	{
		name = "Welcome";
		action = "session.handlers.welcome.customMainAction";
	},
	{
		name = "Login";
		action = "session.handlers.login.customLoginAction";
	},
	{
		name = "Formatierungen";
		action = "session.handlers.formatierungen.customFormatierungenAction";
	},
	{
		name = "Gumbytext";
		action = "session.handlers.gumbytext.customGumbytextAction";
	},
	{
		name = "Calendar";
		action = "session.handlers.calendar.customCalendarAction";
	},
	{
		name = "Aninite";
		action = "session.handlers.aninite.customAniniteAction";
	}
	
	
	
	/* 
		Navigation Root Level 2
    */

)
