{
    attributes = (
        {columnName = agb; name = agb; prototypeName = boolean; }, 
        {columnName = antwort; name = antwort; prototypeName = intNumber; }, 
        {columnName = datum; name = datum; prototypeName = dateTime; }, 
        {columnName = email; name = email; prototypeName = varchar100; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (agb, antwort, datum, email, id, name); 
    className = "org.treasureboat.app.eo.GewinnspielTeilnehmer"; 
    classProperties = (agb, antwort, datum, email, name); 
    externalName = GewinnspielTeilnehmer; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = GewinnspielTeilnehmer; }; 
    name = GewinnspielTeilnehmer; 
    primaryKeyAttributes = (id); 
}
