<webobject name="PageWrapper">
  <h2 align="center">Statistik Austria Barcode Scan</h2>
  <div class="row">
    <div class="centered two columns">
      <wo:TBForm>
        <wo:TBTextField autofocus="true" placeholder="Barcode" value="$barcode" automatic="true" />
        <p>
          <wo:genericContainer elementName="div" class="$selectButton.cssContainerClass"> 
           <wo:submit action="$barcodecheck" class="$selectButton.cssClass" string="Check" /> 
          </wo:genericContainer>
        </p>
        <p>Barcode ist <b><wo:TBString value="$barcode" valueWhenEmpty="noch keine eingabe" /></b></p>
      </wo:TBForm>
    </div>
  </div>
</webobject>