<webobject name="PageWrapper">
  <h2 align="center">Statistik Austria Barcode Scan</h2>
  <div class="row">
    <div class="centered two columns">
      <wo:TBForm>
        <wo:TBTextField autofocus="true" placeholder="Barcode" value="$barcode" automatic="true" />
        <p>
          <wo:genericContainer elementName="div" class="$selectButton.cssContainerClass"> 
           <wo:submit action="$barcodecheck" class="$selectButton.cssClass" string="Check" /> 
          </wo:genericContainer>
        </p><wo:if condition="$barcode" negate="true">
        <p>Barcode ist <b><wo:TBString value="$barcode" valueWhenEmpty="noch keine eingabe" /></b></p>
        </wo:if>
        <wo:else>
        <p>Barcode <b><wo:TBString value="$barcode" /></b> wurde überprüft.</p>
        </wo:else>
            <input name="Datei" type="file" size="50" maxlength="100000" accept="text/*">
      </wo:TBForm>
      
            <wo:form enctype = "multipart/form-data">
 
  <wo:fileUpload streamToFilePath="$streamPathLocation"
                 overwrite="true"
                 filePath="$clientFilePath"
                 finalFilePath="$finalFilePath" />
	</wo:form> 
    </div>
  </div>
</webobject>