{
    attributes = (
        {columnName = allergencode; name = allergencode; prototypeName = charFlag; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = speisenid; name = speisenid; prototypeName = intNumber; }
    ); 
    attributesUsedForLocking = (allergencode, id, speisenid); 
    className = "org.treasureboat.app.eo.AllergeneTBL"; 
    classProperties = (allergencode, speisenid); 
    externalName = AllergeneTBL; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = AllergeneTBL; }; 
    name = AllergeneTBL; 
    primaryKeyAttributes = (id); 
}
