{
    attributes = (
        {columnName = beschreibung; name = beschreibung; prototypeName = varchar1000; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar100; }, 
        {columnName = preis; name = preis; prototypeName = doubleNumber; }, 
        {columnName = sortorder; name = sortorder; prototypeName = intNumber; }, 
        {columnName = sprache; name = sprache; prototypeName = varchar16; }
    ); 
    attributesUsedForLocking = (beschreibung, id, name, preis, sortorder, sprache); 
    className = "org.treasureboat.app.eo.SpeisekarteTBL"; 
    classProperties = (beschreibung, name, preis, sortorder, sprache); 
    externalName = SpeisekarteTBL; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = SpeisekarteTBL; }; 
    name = SpeisekarteTBL; 
    primaryKeyAttributes = (id); 
}
