<webobject name="PageWrapper"><webobject name="fromGubytext"></webobject>
	Learning the Wonders Testsite<br />
	Page 110 - Repeating and Conditional HTML
<div class="row">
	<table class="rounded">
		<tr>
			<th>Vorname</th>
			<th>Nachname</th>
		</tr>
		<webobject name="personsList">
		<tr>
			<td><webobject name="nummer" />. <webobject name="vorName" /></td>
			<td><webobject name="nachName" /></td>
		</tr>
		</webobject>
	</table>
<li class="field">	
  <div class="picker">
    <select>
      <option value="#" disabled>Favorite Doctor… </option>
		<webobject name="personsList">
			<option value="<webobject name="vorName" /> <webobject name="nachName" />"><webobject name="nummer" />. <webobject name="vorName" /> <webobject name="nachName" /></option>
		</webobject>
    </select>
  </div>
</li>
	<div class="medium success btn"><a href="#">Random Mixednamed Doctor: (<webobject name="testarray" /> <webobject name="testarray2" />)</a></div>
<article class="youtube video">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/N0IDkzhBQMg"></iframe >
</article></div>

</webobject>
