<webobject name="PageWrapper">

	<div class="row">
		<div class="twelve columns">
			<h2>Welcome to the new AniNite TBPage</h2>
			<br />
			This project is for the AniNite Website development.
			<br />
			1. Multilanguage Gewinnspiel ( 1 Image, 1 Question, 4 Answer Fields, Submit Form, receive email confirmation) , data in DB and File logging.			<br />
			2. New Multilanguage Microsite Frontend with Bootsrap (like actual AniNite Website)			<br />
			3. New Multilanguage Website Frontend with Bootstrap<br />
			4. Backend to edit Frontend<br />
		</div>
	</div>      
	
	<wo:TBForm> <wo:submit action="$doEnglishAction"></wo:submit></wo:TBForm><br />
	<wo:TBHyperlink pageName="Gewinnspiel">Gewinnspiel</wo:TBHyperlink>
</webobject>    