<webobject name = "PageWrapper">


	<div class="row">
		<div class="twelve columns">
			<wo:TBString markdown = "true" value = "###Welcome Users: ###" /><wo:TBString value = "$username"></wo:TBString>
			<wo:TBString markdown = "true" value = "---" />
			<wo:TBForm>
				Uhrzeit: <wo:TBTextField value="$uhrzeit" class = "$inspectButton.cssContainerClass" /><br />
				Datum: <wo:textField dateformat = "%d.%m.%y" value = "$datum" class = "$inspectButton.cssContainerClass"/><br />

				TBTelField <wo:TBTelField value = "$telephone" class = "$inspectButton.cssContainerClass" /><br />

				Hotelkosten <wo:TBTextField value="$hotelkosten" class = "$inspectButton.cssContainerClass" /><br />
				Autokosten <wo:TBTextField value="$autokosten" class = "$inspectButton.cssContainerClass" /><br />
				<wo:str value="$test" />
				<wo:submit action = "$goBackToMainAction" value = "Speichern" />
			</wo:TBForm>
			
		</div>
	</div>
</webobject>