<webobject name="PageWrapper">

<wo:TBForm>
		<table style="width:100%">
			<tr>
				<td style="width:100%" align="center">
					<h3>Convention Manager <wo:TBString value="$currentTime" dateformat="%d.%m.%y - %H:%M:%S" /></h3>
				</td>
			</tr>
			<tr>
				<td>
		 	<wo:TBETabPanel tabs="$tabes" selectedTab="$selectedTab" tabNameKey="convention" submitActionName="doTabAction">
		 		[<wo:TBString value = "$selectedTab.convention" /> mit <wo:TBString value = "$selectedTab.besucherzahlen" /> Besucher] 
		 	</wo:TBETabPanel>
				</td>
			</tr>
			<tr>
				<td>			
					<webobject name="MyText" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<webobject name="PopUp" />
					<br />
		 			<wo:TBJSAlertPanel alertMessage="$selectedTab.convention" string="Testalert" action="$doSampleAction" automatic="true"/><br />
		 			<wo:TBJSAlertPanel alertMessage="$selectedTab.besucherzahlen" string="Testalert 2" action="$doSampleAction" automatic="true"/><br />
		 			<wo:TBJSAlertPanel alertMessage="Convention + Besucherzahlen = Error" string="Testalert 3 (Error)" action="$doSampleAction" automatic="true"/><br />
					<webobject name="MyAltert" /><br />
					BMI: <webobject name="BMI" /><br />
					Schaltjahr: <webobject name="Schaltjahr" /><br />
					<webobject name="MyCounter" />
				</td>
			</tr>			
			
			<tr>
				<td>
				<wo:submit value="Senden" action="$doSendAction" />
				</td>
			</tr>
		</table>
		
</wo:TBForm>



</webobject>