<webobject name="PageWrapper">

<wo:TBForm>
		<table style="width:100%">
			<tr>
				<td style="width:100%" align="center">
					<h3>Convention Manager <wo:TBString value="$currentTime" dateformat="%d.%m.%y - %H:%M:%S" /></h3>
				</td>
			</tr>
			<tr>
				<td>
		 	<wo:TBETabPanel tabs="$tabes" selectedTab="$selectedTab" tabNameKey="convention" submitActionName="doTabAction">
		 		[<wo:TBString value = "$selectedTab.convention" /> mit <wo:TBString value = "$selectedTab.besucherzahlen" /> Besucher] 
		 	</wo:TBETabPanel>
				</td>
			</tr>
			<tr>
				<td>			
					<webobject name="MyText" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<webobject name="PopUp" />
					<br />
		 			<wo:TBJSAlertPanel alertMessage="$selectedTab.convention" string="Testalert" action="$doSampleAction" automatic="true"/><br />
		 			<wo:TBJSAlertPanel alertMessage="$selectedTab.besucherzahlen" string="Testalert 2" action="$doSampleAction" automatic="true"/><br />
		 			<wo:TBJSAlertPanel alertMessage="Convention + Besucherzahlen = Error" string="Testalert 3 (Error)" action="$doSampleAction" automatic="true"/><br />
					<webobject name="MyAltert" /><br />
			<wo:TBString value = "---" markdown = "true" />	
			<h4>BMI Class:</h4>
					Geschlecht: <webobject name="Geschlecht" />
					Gewicht: <webobject name="Gewicht" />
					Grösse: <webobject name="Groesse" /><br />
					BMI: <webobject name="BMI" /><br />
					<wo:submit value="BMI Berechnen" action="$doBMIAction" />
					
			<wo:TBString value = "---" markdown = "true" />	
			<h4>Schaltjahr Berechnung Class:</h4>
					Schaltjahr: <webobject name="Schaltjahr" /><br />
			<wo:TBString value = "---" markdown = "true" />	
			<h4>Aufzählungs Counter Class (Zählt nach jedem Refresh 5 mehr):</h4>
					<webobject name="MyCounter" />
			<wo:TBString value = "---" markdown = "true" />	
				</td>
			</tr>			
			
			<tr>
				<td>
				<wo:submit value="Senden" action="$doSendAction" />
				</td>
			</tr>
		</table>
		
</wo:TBForm>



</webobject>