<webobject name="PageWrapper">

	<div class="row">
		<div class="twelve columns">

Es ist <wo:TBString value = "$timestamp" dateformat = "%d.%m.%y genau %H:%M:%S" /><br />
Values for "dateformat":<br />
%H = Hour <br />
%M = Minute <br />
%S = Seconds <br />
%d = Day<br />
%m = Month<br />
%y = Year<br />

<wo:TBString markdown = "true" value = "--- \n ***Buttontest***"></wo:TBString>
<wo:TBString markdown = "true" value = "--- \n ***UItest***"></wo:TBString>


<wo:TBString markdown = "true" value = "--- \n ***TBFONT***"></wo:TBString>
<wo:TBFont eot = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.eot"
woff = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.woff"
ttf = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.ttf"
fontFamily = "Calligraffiti"
selector = "H1"
svg = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.svg" ></wo:TBFont>

		</div>
	</div>
</webobject>