<webobject name="PageWrapper">

	<div class="row">
		<div class="twelve columns">

			<h3>Hallo Boat</h3>
			
			Es ist <wo:TBString value = "$currentTime" dateformat = "%d.%m.%y genau %H:%M:%S" /><br />
			Values for "dateformat":<br />
			%H = Hour <br />
			%M = Minute <br />
			%S = Seconds <br />
			%d = Day<br />
			%m = Month<br />
			%y = Year<br />
 	
 			<div class="info alert">
		 		Html :<br />
		 		&lt;wo:genericContainer elementName="div" class="$returnButton.cssContainerClass"&gt;<br />
		 		&nbsp;&nbsp;&nbsp;&nbsp;&lt;wo:TBHyperlink action="$goToMySelfAction" class="$returnButton.cssClass" string="$returnButton.name" /&gt;<br />
		 		&lt;/wo:genericContainer&gt;
		 	</div>
		 	
		 	
			<wo:TBString markdown = "true" value = "--- \n ***Buttontest***" />
			
			<hr />
			<h3>UI Test - <wo:TBString value = "$usernames"></wo:TBString></h3>
			<wo:form>
				Counter:
				<wo:textfield value = "$counter" numberformat = "#" /><br />				
				Username: 
				<wo:textField value = "$username" /><br />
				Password:
				<wo:passwordField value = "$passwords"  />
				
				Notes:
				<wo:textfield value="$sampleText" /><br />
				<wo:submit value="Send" action="$doSubmitAction" />
			</wo:form>
			
			<hr />
			<wo:TBString markdown = "true" value = "--- \n ***TBFONT***" />
			
			<wo:TBFont eot = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.eot"
				woff = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.woff"
				ttf = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.ttf"
				fontFamily = "Calligraffiti"
				selector = "h4"
				svg = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.svg" />


			<hr />
			<h4>Button</h4>
			<wo:genericContainer elementName="div" class="$returnButton.cssContainerClass">
			<wo:TBHyperlink action="$goBackToMainAction" class="$returnButton.cssClass" string="$returnButton.name" />
			</wo:genericContainer>
			
		</div>
	</div>
</webobject>