<webobject name="PageWrapper">

	<div class="row">
		<div class="twelve columns">

			<h3>Hallo H3 Boat</h3> <h4>Hello H4</h4>
			
			Es ist <wo:TBString value = "$currentTime" dateformat = "%d.%m.%y genau %H:%M:%S" /><br />
			Values for "dateformat":<br />
			%H = Hour <br />
			%M = Minute <br />
			%S = Seconds <br />
			%d = Day<br />
			%m = Month<br />
			%y = Year<br />
 	
 			<div class="info alert">
		 		Html :<br />
		 		&lt;wo:genericContainer elementName="div" class="$returnButton.cssContainerClass"&gt;<br />
		 		&nbsp;&nbsp;&nbsp;&nbsp;&lt;wo:TBHyperlink action="$goToMySelfAction" class="$returnButton.cssClass" string="$returnButton.name" /&gt;<br />
		 		&lt;/wo:genericContainer&gt;
		 	</div>
		 	
		 	
			<wo:TBString markdown = "true" value = "--- \n ***Buttontest***" />
			
			<hr />
			<h3>UI Test - <wo:TBString value = "$usernames"></wo:TBString></h3>
			<wo:TBForm>
				Counter:
				<wo:TBTextField value = "$counter" numberformat = "#" /><br />				
				Username: 
				<wo:TBTextField  value = "$username" /><br />
				Password:
				<wo:TBPasswordField  value = "$passwords" />
				
				Notes:
				<wo:TBTextField value="$sampleText" /><br />
				<wo:submit value="Send" action="$doSubmitAction" />
			</wo:TBForm>
			
			<hr />
			<wo:TBString markdown = "true" value = "--- \n ***TBFONT***" />
			
			<wo:TBFont eot = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.eot"
				woff = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.woff"
				ttf = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.ttf"
				fontFamily = "Calligraffiti"
				selector = "h2, h4"
				svg = "static://TBContentsDelivery:font/calligraffiti/Calligraffiti-webfont.svg" />


			<hr />
			<h4>Button</h4>
			<wo:TBGenericContainer elementName="div" class="$returnButton.cssContainerClass">
			<wo:TBHyperlink action="$goBackToMainAction" class="$returnButton.cssClass" string="$returnButton.name" />
			</wo:TBGenericContainer>
			
		</div>
	</div>
</webobject>