<webobject name="PageWrapper">

<webobject name="convention" />
<webobject name="besucherzahlen" />
ddd

<hr />
Sprache = <webobject name="Language" />

	[<webobject name="LOC_1" />]
	[<webobject name="LOC_2" />]
	

<webobject name="GetfromAPI"></webobject>

<hr />

	<h3>Alle Daten</h3>
	<ul>
		<wo:foreach list="$allTodos" item="$oneTodo">
			<li><wo:TBString value = "$oneTodo.task" /> - <wo:TBString value = "$oneTodo.dueDate" /></li>
		</wo:foreach>
	</ul>
	<hr />

	<h3>Selected Daten</h3>
	<ul>
		<wo:foreach list="$selectionTodos" item="$oneTodo">
			<li><wo:TBString value = "$oneTodo.task" /> - <wo:TBString value = "$oneTodo.dueDate" /></li>
		</wo:foreach>
	</ul>
	<hr />

	<h3>Einzelne Daten</h3>
		<wo:TBForm>
			<wo:foreach list="$allTodos" item="$oneTodo">
				<wo:WOCheckBox value="$true" selection="$oneTodo.done" />
				<wo:TBTextField value="$oneTodo.priority" automatic="true" class="narrow" />
				<wo:TBTextField value="$oneTodo.task" automatic="true" class="normal" /> <wo:hyperlink action="$doRemoveAction" string="Remove me?" /><br />
			</wo:foreach>
			<wo:WOSubmitButton value="Save" action="$doSaveAction" />
		</wo:TBForm>
	<hr />
	<wo:hyperlink action="$doCreateAction" string="CREATE" />













</webobject>