<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="de"> <!--<![endif]-->  
<head>
    <title>AniNite 2015 - 28-30.08.2015 im Multiversum Wien/Schwechat</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    
    <wo:TBWStandartFavicon />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <wo:TBStyleSheet filename="plugins/bootstrap/css/bootstrap.min.css" />
    <!-- Plugins CSS -->    
    <wo:TBStyleSheet filename="plugins/font-awesome/css/font-awesome.css" />
    <wo:TBStyleSheet filename="plugins/prism/prism.css" />
    <!-- Theme CSS -->  
    <wo:TBStyleSheet filename="css/styles.css" id="theme-style" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
	.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.features {
color:#000;
}

.table th {
text-align:center;
}

  #foo {
    position: fixed;
    bottom: 10px;
    right: 5px;
  }
</style>

</head> 

<body data-spy="scroll">
	<wo:form>
			                    
         <div id="fb-root"></div>
    <!---//Facebook button code-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1376556025976460&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<wo:TBGenericContainer ></wo:TBGenericContainer>
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">
                    	<wo:TBImage filename="images/AniNite15-Logo-small.png" /></span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">Info</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Contest</a></li>
                        <li class="nav-item"><a class="scrollto" href="#docs">Händler und Sponsoren</a></li>
                        <li class="nav-item"><a class="scrollto" href="#license">Video</a></li>                        
                        <li class="nav-item last"><a class="scrollto" href="#contact">Als Crew-Mitarbeiten</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title"><wo:TBImage filename="images/Maskottchen-Klein.gif" class="img-responsive center-block" /></h2>
            <!-- //TODO class=intro wird nicht angenommen -->
   				<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getMaintitle.description" class="intro" escapeHTML="false" markdown="true" /></wo:if> 
				<wo:if condition="$isEdit"><wo:TBTextField value="$getMaintitle.description"  style="color:black" automatic="true" size="40" /><br /></wo:if>                            
                       <div class="btn-group" role="group" aria-label="Tickets"><a href="http://aninite.at/ticket/" target="_blank">
			<button type="button" class="btn btn-default">Hier Vorverkauf Ticket bestellen!</button></a><br /><br />
			</div>
 
			<br />
			</div><!--//container-->
        
    </section><!--//promo-->
    
    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getSubtitle.title" escapeHTML="false" markdown="false" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getSubtitle.title" automatic="true" size="26" /></wo:if>                        
            </h2>
            <p class="intro text-center">            
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getSubtitle.description" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getSubtitle.description" automatic="true" size="100" /></wo:if>                        
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured1.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeatured1.title" automatic="true" size="26" /></wo:if>                        
						</h3>
                        <p>
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured1.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeatured1.description" automatic="true" rows="10" cols="35"/></wo:if>                        
						</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured2.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeatured2.title" automatic="true" size="26" /></wo:if>                        
						</h3>
                        <p>
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured2.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeatured2.description" automatic="true" rows="10" cols="35"/></wo:if>                        
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured3.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeatured3.title" automatic="true"  size="26" /></wo:if>                        
						</h3>
                        <p>
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured3.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeatured3.description" automatic="true" rows="10" cols="35"/></wo:if>                        
						</p>
                   </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured4.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeatured4.title" automatic="true" size="26" /></wo:if>                        
						</h3>
                        <p>
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured4.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeatured4.description" automatic="true" rows="10" cols="35"/></wo:if>                        
						</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-exclamation"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured5.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeatured5.title" automatic="true" size="26" /></wo:if>                        
						</h3>
                        <p>
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured5.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeatured5.description" automatic="true" rows="10" cols="35"/></wo:if>                        
						</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-euro"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured6.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeatured6.title" automatic="true" size="26" /></wo:if>                        
						</h3>
                        <p>
						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeatured6.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeatured6.description" automatic="true" rows="10" cols="35"/></wo:if>                        
						</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
    
    <!-- ******VVK ****** --> 
    <section id="tickets" class="features section">
        <div class="container text-center">
            <h2 class="title">
                <wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getVVK.title" escapeHTML="false" markdown="true" /></wo:if>
				<wo:if condition="$isEdit"><wo:TBTextField value="$getVVK.title" automatic="true" size="30" /></wo:if>                                        
            </h2>            <div class="panel panel-default">
  					<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getVVK.description" escapeHTML="false" markdown="true" /></wo:if>
					<wo:if condition="$isEdit"><wo:TBText value="$getVVK.description" automatic="true" style="color:black; font-size:15px" rows="15" cols="80"/></wo:if>                  
</div>
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <wo:if condition="$isEdit" negate="true"><wo:TBString value="$getTicketinfo.title" escapeHTML="false" markdown="true" /></wo:if>
              <wo:if condition="$isEdit"><wo:TBTextField value="$getTicketinfo.title" automatic="true" size="30" /></wo:if>
            </div>
            <!-- List group -->
            <wo:if condition="$isEdit" negate="true"><wo:TBString value="$getTicketinfo.description" escapeHTML="false" markdown="true" /></wo:if>
            <wo:if condition="$isEdit"><wo:TBText value="$getTicketinfo.description" automatic="true" style="color:black; font-size:15px" rows="15" cols="80" /></wo:if>
          </div>
        </div><!--//container-->
    </section><!--//features-->
    
    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Händler und Sponsoren</h2>            
            <div class="block">
                <h3 class="sub-title text-center">
                <wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedhandler.title" escapeHTML="false" markdown="true" /></wo:if>
				<wo:if condition="$isEdit"><wo:TBTextField value="$getFeaturedhandler.title" automatic="true" size="30" /></wo:if>                                        
                </h3>
                <p class="text-center">
  					<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedhandler.description" escapeHTML="false" markdown="true" /></wo:if>
					<wo:if condition="$isEdit"><wo:TBText value="$getFeaturedhandler.description" automatic="true" rows="10" cols="65"/></wo:if>                        
                </p>
                			</div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">
                <wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedsponsor.title" escapeHTML="false" markdown="true" /></wo:if>
				<wo:if condition="$isEdit"><wo:TBTextField value="$getFeaturedsponsor.title" automatic="true" size="30" /></wo:if>                        
                
                </h3>
                                <ul class="list-unstyled text-center">
				<li>
  					<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedsponsor.description" escapeHTML="false" markdown="true" /></wo:if>
					<wo:if condition="$isEdit"><wo:TBText value="$getFeaturedsponsor.description" automatic="true" rows="10" cols="65"/></wo:if>                        
                </li></ul>            
            </div><!--//docs-inner-->         
        </div><!--//container-->
       </div>
    </section><!--//features-->
    
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">
                <wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedlist.title" escapeHTML="false" markdown="true" /></wo:if>
				<wo:if condition="$isEdit"><wo:TBTextField value="$getFeaturedlist.title" automatic="true" size="30" /></wo:if>                                        
            </h2>
  					<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedlist.description" escapeHTML="false" markdown="true" /></wo:if>
					<wo:else><wo:TBText value="$getFeaturedlist.description" automatic="true" style="color:black; font-size:15px" rows="15" cols="80"/></wo:else>            

        </div><!--//container-->
    </section><!--//features-->

    
    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Promo Video</h2>
                <div class="info">
                    <p><div class="responsive-video">            
                   <iframe width="560" height="315" src="//www.youtube.com/embed/YjeSDnB1OYs" frameborder="0" allowfullscreen></iframe>
                </div>
                </p></div><!--//info-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
    
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">
 						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedlast.title" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBTextField value="$getFeaturedlast.title" automatic="true" size="30"/></wo:if>                        
                </h2>
                <p class="intro  text-center">Wir freuen uns, euch auf der AniNite 2015 zu sehen! <br />Habt Ihr Lust bekommen bei einem solchen Projekt mitzuarbeiten, so scheut euch nicht uns zu kontaktieren.</p>
                <div class="author-message">                      
                    <div class="profile">
                        <wo:TBImage class="img-responsive" filename="images/profile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
  						<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFeaturedlast.description" escapeHTML="false" markdown="true" /></wo:if>
						<wo:if condition="$isEdit"><wo:TBText value="$getFeaturedlast.description" automatic="true" rows="40" cols="65"/></wo:if>                        
                       
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Besucht uns auf</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/Aninite" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/AniNite" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/user/seiya74656" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li class="last"><a href="mailto: info@aninite.at"><i class="fa fa-envelope"></i></a></li>              
                    </ul><br />
                    <img src="https://www.jetbrains.com/youtrack/documentation/docs/logo_youtrack.png">
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">  
            <small class="copyright">
				<wo:if condition="$isEdit" negate="true" ><wo:TBString value="$getFooter.description" escapeHTML="false" markdown="true" /></wo:if>
				<wo:if condition="$isEdit"><wo:TBTextField value="$getFooter.description" automatic="true" style="color:black" size="120"/></wo:if>                                    
            </small>
        </div><!--//container-->
    </footer><!--//footer-->
			<div id="foo">
   			<wo:if condition="$isEdit" negate="true">
			<wo:WOSubmitButton action="$doSwitchAutomatic" value="Editieren" class="btn btn-danger" /></wo:if>
			<wo:if condition="$isEdit" negate="false">
			<wo:WOSubmitButton action="$doSwitchAutomatic" class="btn btn-danger" value="Speichern" /></wo:if><br /><br />                       
           	<wo:AjaxSubmitButton value="Speichern Ajax" class="btn btn-danger" action="$saveChanges" ></wo:AjaxSubmitButton>
            </div>
     
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="assets/js/main.js"></script>       
			</wo:form>

</body>
</html> 


