<webobject name="CheckBoxWrapper">
  <webobject name="Conditional2">
    <webobject name="CheckBoxRepetition">
        <table class="rounded">
          <tr>
            <td><webobject name="CheckBox" /></td>
            <webobject name="GenericContainer1"><webobject name="Content" /></webobject>
          </tr>
        </table>
    </webobject>
    <webobject name="HiddenInput" />
    <webobject name="Conditional1">
      <webobject name="GenericElement1" />
      <webobject name="GenericElement2" />
      <webobject name="OnlyOnce">
        <script type="text/javascript">
          var TBCheckboxMatrix = {
          checkAll : function (form, name, shouldCheck) {
              var elements = form.elements;
              for (var i = 0; i < elements.length; i++) {
                  var element = elements[i];
                  if (element.type.toLowerCase() == "checkbox") {
                      if (element.name == name && element.checked != shouldCheck) {
                          element.checked=shouldCheck;
                      }
                  }
              }
          }
          };
        </script>
      </webobject>
    </webobject>
  </webobject>
</webobject>