{AllergeneTBL = ("A:false:Allergencode:intNumber", "A:false:SpeisenID:intNumber"); SpeisekarteTBL = ("A:false:beschreibung:varchar1000", "A:false:name:varchar100", "A:false:preis:doubleNumber", "A:false:sortorder:intNumber", "A:false:sprache:varchar16"); AllergenInfoTBL = ("A:false:Allergen:varchar100", "A:false:AllergenInfocode:intNumber"); }