{AllergeneTBL = ("A:false:Allergencode:intNumber", "A:false:SpeisenID:intNumber"); SpeisekarteTBL = ("A:false:Beschreibung:varchar1000", "A:false:Name:varchar100", "A:false:Preis:doubleNumber", "A:false:Sprache:varchar16"); AllergenInfoTBL = ("A:false:Allergen:varchar100", "A:false:AllergenInfocode:intNumber"); }