{SpeisekarteTBLAllergenInfoTBL = (); SpeisekarteTBL = ("R:false:allergenInfoTBLs:true:AllergenInfoTBL", "A:false:beschreibung:varchar1000", "A:false:name:varchar100", "A:false:preis:doubleNumber", "A:false:sortorder:intNumber", "A:false:sprache:varchar16"); AllergenInfoTBL = ("A:false:allergen:varchar100", "A:false:allergeninfocode:charFlag", "R:false:speisekarteTBLs:true:SpeisekarteTBL"); }