 <webobject name="PageWrapper">
<br />
  <div class="row">
    <section class="tabs">
      <ul class="tab-nav">
        <li class="active">
          <a href="#"><wo:TBWLocalizedString value="Addnewmeal" /></a>
        </li>
        <li>
          <a href="#"><wo:TBWLocalizedString value="Meal" /></a>
        </li>
        <li>
          <a href="#"><wo:TBWLocalizedString value="Allergen" /></a>
        </li>
      </ul>
      <div class="tab-content active">
        <p>
          <div class="twelve columns">
            <wo:TBHyperlink pageName="Speisekarte">Zur Speisekarte</wo:TBHyperlink>
            <h2>Neue Speise eintragen:</h2>
            <wo:TBForm>
              Name: 
              <wo:TBTextField value="$name2" automatic="true" />
              <br />
              Beschreibung: 
              <wo:TBTextField value="$beschreibung" automatic="true" />
              <br />
              Preis: 
              <wo:TBNumberField value="$preis" automatic="true" />
              <br />
              Sortorder ID: 
              <wo:TBNumberField value="$sortorder" automatic="true" />
              <br />
              	<wo:TBCheckboxMatrix list="$allAllergenInfoTBLs" item="$einzelAllergenInfoTBL" selections="$selectedAllergenInfos">
              		<wo:TBString value = "$einzelAllergenInfoTBL.allergeninfocode" />&nbsp;
              	</wo:TBCheckboxMatrix>              
              A: <wo:WOCheckBox checked="$allergenA" /> - B: <wo:WOCheckBox checked="$allergenB" /> - 
              C: <wo:WOCheckBox checked="$allergenC" /> - D: <wo:WOCheckBox checked="$allergenD" />
              <br />
              Sprache: 
              <webobject name="PopUp" /><p>
			<div class="medium default btn">
              <wo:submit action="$doCreateEntry"  value="Neue Speise eintragen." />
            </div></p>
            </wo:TBForm>
          </div>
        </p>
      </div>
      <div class="tab-content">
        <p>
          <wo:TBForm>ID, Name, Beschreibung, Preis, Sortorder<br />
            <wo:foreach list="$allSpeisekartesTBLs" item="$einzelAuflistungSpeisekarteTBL">
              ID: 
              <wo:TBString value="$einzelAuflistungSpeisekarteTBL.primaryKey" />
              <wo:TBTextField value="$einzelAuflistungSpeisekarteTBL.name" />
              <wo:TBTextField value="$einzelAuflistungSpeisekarteTBL.beschreibung" />
              <wo:TBTextField value="$einzelAuflistungSpeisekarteTBL.preis" />
              <webobject name="PopUp2" />
              <wo:TBTextField value="$einzelAuflistungSpeisekarteTBL.sortorder" />
              <br />
              
              
                  <wo:TBCheckboxMatrix list="$allAllergenInfoTBLs" item="$einzelAllergenInfoTBL" selections="$einzelAuflistungSpeisekarteTBL.allergenInfoTBLs" goingVertically="$false" shouldShowSelectAllButtons="$true">
              		<wo:TBString value = "$einzelAllergenInfoTBL.allergeninfocode" />&nbsp;
              	</wo:TBCheckboxMatrix>
              
                            
              
              
              
              
              
              
              <br />
            </wo:foreach><p>
			<div class="medium default btn">
            <wo:submit action="$doSaveEntrys" value="Änderungen speichern" />
            </div>
            </p>
          </wo:TBForm>
        </p>
      </div>
      <div class="tab-content">
        <wo:TBForm>
          <p>ID, Allergen,AllergeninfoCode<br />
            <wo:foreach list="$allAllergenInfoTBLs" item="$einzelAllergenInfoTBL">
              ID: 
              <wo:TBTextField value="$einzelAllergenInfoTBL.primaryKey" />
              Allergen: 
              <wo:TBTextField value="$einzelAllergenInfoTBL.allergen" />
              AllergenCode: 
              <wo:TBTextField value="$einzelAllergenInfoTBL.allergeninfocode" />
              <br />
            </wo:foreach>
            <p>
			<div class="medium default btn">
            <wo:submit action="$doSaveEntrys" value="Änderungen speichern" />
            </div>
            </p>
          </p>
        </wo:TBForm>
      </div>
    </section>
  </div>
  <p><wo:TBForm><wo:submit action="$setGerman" value="German"></wo:submit></wo:TBForm></p>
</webobject>